* {
    margin: 0;
    box-sizing: border-box;
}

/************* Generelt ************/
main {
    margin: 4rem 0 0 0;
    padding: 5vw;
    background-color: #202C30;
}

@font-face {
    font-family: 'harry_pregular';
    src: url('fonts/harryp__-webfont.woff2') format('woff2'),
         url('fonts/harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'harry_pregular';
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #F7F7F7;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #F7F7F7;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #F7F7F7;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #F7F7F7;
}

.hide {
    display: none;
}


/** navigation **/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #202C30;
    padding: 22px 30px;
}

.house_buttons {
    float: right;
    display: inline-block;
}

.house_buttons a {
    margin-right: 25px;
    text-decoration: none;
}
.house_buttons a:last-child {
    margin-right: 0;
}

a,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: #FEF5F4;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.burger_open {
    width: 1.7rem;
    height: 1.5rem;
    display: inline-block;
    justify-self: end;
    position: relative;
}

.burger_open div {
    height: 3px;
    width: 100%;
    background-color:black;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
}
.open_menu .line1 {
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 10px;
}

.open_menu .line2 {
    display: none;
}

.open_menu .line3 {
    transform: rotate(-45deg);
    position: absolute;
    left: 0;
    top: 10px;
}

.burger_close {
    width: 1.5rem;
    display: inline-block;
    margin: 0 auto;
}


/** infobox **/

.info{
    border: 1px solid black;
    border-radius: 25px;
    padding: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    background-color: #E8DDD8;
}

.info p {
    color: #000000;
}

.info_wrapper1 {
    display: inline-block;

}


/** sorting **/ 

#sorting{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

/** list **/ 

.student {
    display: grid;
    grid-template-areas:
     " img name ."
     " img gender . "
     " img house ."
     " img expel more";
}

.student h3[data-field=fullname] {
    grid-area: name;
}
.student img {
    grid-area: img;
}
.student p[data-field=house] {
    grid-area: house;
}

.student p[data-field=gender] {
    grid-area: gender;
}
.student .expel {
    grid-area: expel;
}
.student .more {
    grid-area: more;
}